@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main>
      <div>
            <p>Bienvenido a la sección de administrador</p>
            <h1><marquee>En este apartado podras emitir certificados a cada vecino!!</marquee></h1>
        </div>
</main>