@model IEnumerable<Software2.Models.Vecinos>
@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";
}
<main>
    <center><h1>Lista de Usuarios Inscritos en Eventos</h1></center><br>
    <a class="btn btn-primary" asp-controller="Usuario" asp-action="Create">Agregar Usuario</a>
</main>