@model Software2.Models.Firmas
@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";  
}
<main>
<a class="btn btn-outline-danger" asp-action="Firmas">Regresar</a>
<br>
<div class="row">
      <div class="col-lg-7 mx-auto">
        <div  class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 330px;">
          <div class="card-body">
            <form asp-action="CrearFirma" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="col-md-6">
    <label class="control-label">Nombre del Firmante</label>
                <input asp-for="NombreFirma" class="form-control" />
                <span asp-validation-for="NombreFirma" class="text-danger"></span>
  </div>
  <div class="col-12">
    <label class="control-label">Imagen</label>
                <input asp-for="ImageNameFir" type="file" class="form-control" />
                <span asp-validation-for="ImageNameFir" class="text-danger"></span>
  </div>
  <div class="col-md-6">
        <input type="submit" value="Guardar Firma" class="btn btn-primary" />
   </div>
</form>
          </div>
        </div>
      </div> 
      </div>
</main>