@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main>
<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
            
        </div>
    </div> 
    <div class="col-lg-4 mx-auto">
        <div class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
            
        </div>
    </div>
    <div class="col-lg-4 mx-auto">
        <div class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
            
        </div>
    </div>
</div>
</main>
