@model IEnumerable<Software2.Models.DisenarCerti>
@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main>
<a class="btn btn-outline-danger" asp-action="Index">Regresar</a>
@foreach (var item in Model) {

    

}
</main>
