@model IEnumerable<Software2.Models.Firmas>
@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";
    var count = 1;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main>
    <center><h2>Firmas Registradas</h2></center>
    <a class="btn btn-outline-danger" asp-action="Index">Regresar</a>
    <a class="btn btn-outline-danger" asp-action="CrearFirma">Crear Firmas</a>
<br><br>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                №
            </th>
            <th scope="col">
                IMAGEN
            </th>
            <th scope="col">
                FIRMA DEL AUTOR
            </th>
            <!--<th scope="col">
                OPCIONES
            </th>-->
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <th scope="row">
                @count
            </th>
            <td>
              <div class="card-body">
                  <div class="card-img-actions">
                    <center><img class="img-responsive" width="70" height="70"
                       src="/Images/@item.ImageNameFir" alt="@item.ImageNameFir"  /></center>
                  </div>
                </div>
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.NombreFirma)
            </td>
            <td>
               <!--<a asp-action="" asp-route-id="@item.Id"><img src="/Images/editar.png" width="40px" heigh="40px"></a>
               <a asp-action="" asp-route-id="@item.Id" onclick="return confirm('¿Esta seguro de eliminar la firma?')"><img src="/Images/eliminar.png" width="40px" heigh="40px"></a>-->
            </td>               
        </tr>
        count++;
}
    </tbody>
</table>              
</main>