@model IEnumerable<Software2.Models.Firmas>
@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";
    var count = 1;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main>
    <a class="btn btn-outline-danger" asp-action="Index">Regresar</a>
<br><br>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                №
            </th>
            <th scope="col">
                IMAGEN
            </th>
            <th scope="col">
                FIRMA DEL AUTOR
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <th scope="row">
                @count
            </th>
            <td>
              <div class="card-body">
                  <div class="card-img-actions">
                    <center><img class="img-responsive" width="150" height="200"
                       src="/Images/@item.ImageNameFir" alt="@item.ImageNameFir"  /></center>
                  </div>
                </div>
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.NombreFirma)
            </td>               
        </tr>
        count++;
}
    </tbody>
</table>              
</main>