@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main>
      <div>
            <p>Bienvenido a la sección de Certificados</p>
        </div>
</main>