@{
    ViewData["Title"] = "Home Page";
    Layout = "_Administrador";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main>
  <br />
  <h1><marquee>EL PAGO SE REALIZO CON EXITO !!</marquee></h1>
</main>






