@{
    ViewData["Title"] = "Home Page";

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

  <br />
  <h1></h1>
  <br />
   <div class="container">
        <div class="row">
          <div class="col-sm-15 mt-5">
 <div class="col-md-4"> 
  <h1
    style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:black; background-color: #FFBCA7; text-align: center;">
    EL PAGO SE REALIZO CON EXITO</h1>
</div>

<p>DETALLE DE LA OPERACION</p>

 <br />
<p>NUMERO DE OPERACION 000001</p>
  <br />

<br />
<p>Monto Cancelado: 30</p>
  <br />



</div>
  </div>
  </div>

 


  
}





