@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Listar" method="get">
<div class="col-lg-5 mx-auto">
    <input type="text" id="searchString" class="form-control" placeholder="Ingresa tu DNI" name="searchString"/>
</div>
<br>
<center>
    <button class="btn btn-success">Buscar</button>&nbsp
    <input type="reset" class="btn btn-danger" value="Limpiar">

    <a class="btn btn-primary" asp-controller="Home" asp-action="MostrarPDFenPagina" target="_blank">Ver PDF en pagina</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="DescargarPDF">Descargar PDF</a>
    <br />
    <br />
    <embed src="@Url.Action("MostrarPDFenPagina","Home")"  width="50" height="50" type="application/pdf"/>
</center>
</form>



