@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Listar" method="get">
<div class="col-lg-5 mx-auto">
    <input type="text" id="searchString" class="form-control" placeholder="Ingresa tu DNI" name="searchString"/>
</div><br>
<center>
    <button class="btn btn-success">Buscar</button>&nbsp
    <input type="reset" class="btn btn-danger" value="Limpiar">
</center>
</form>



